html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'chub';
    src: url('../fonts/chubgothic.ttf') format('truetype');
}

@font-face {
    font-family: 'paris';
    src: url('../fonts/parisienne.ttf') format('truetype');
}

@font-face {
    font-family: 'myan';
    src: url('../fonts/myanmar.ttf') format('truetype');
}

body {
    background-image: url('../images/paris.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    overflow-x: hidden;
}

#container {
    background-image: url('../images/skin.png');
    background-repeat: no-repeat;
    width: 90vw;
    margin: -10px auto 0 auto;
}

header {
    width: 80vw;
    margin: auto;
}

header img {
    padding-top: 30px;
    margin-top: 30px;
}

#logo {
    width: 80vw;
    height: auto;
    margin: auto;
    max-width: 500px;

}

h1 {
    font-family: chub, sans-serif;
    visibility: hidden;
    padding: 5px;
    width: 80vw;
    margin: auto;
}

main {
    padding: 5px;
    width: 80vw;
    margin: auto;
}

h2 {
    font-family: chub, sans-serif;
    color: #7a2426;
    font-size: 2.5em;
    font-variant: small-caps;
}

article {
    width: 90%;
    padding: 5px;

}

.no_bgd {
    width: 90%;
    padding: 5px;
    background-color: none;
}

h3 {
    font-family: paris, serif;
    color: #c5845a;
    font-size: 1.5em;
}

p {
    font-family: myan, sans-serif;
    color: #162b48;
    padding: 5px;
    margin: 5px;
    background-color: hsla(45, 28%, 96%, 0.7);
    font-size: 1.1em;
}

a {
    color: #c70005;
}

a:hover {
    color: #c5845a;
}

.button {
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 10px;
    background-image: url('../images/glitter.jpg');
    background-color: hsla(359, 54%, 31%, 1);
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 5px 5px #b0b0b0;
    box-shadow: 5px 5px 5px 5px #b0b0b0;
}

.button a {
    color: #7a2426;
    font-family: paris, serif;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: #162b48;
    font-family: paris, serif;
    font-weight: bold;
}

section {
    padding: 5px;
    background-color: hsla(45, 28%, 96%, 0.5);
    margin: auto;
    min-width: 200px;
}

#adj p {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: calc(100% / 3.15);
    background-color: hsla(45, 28%, 96%, 0.7);
    min-width: 175px;
    font-size: 1.1em;
    color: #162b48;
}

.full {
    width: 100%;
    height: auto;
}
